<h1> Welcome to Robot World</h1>

<table class="table">
  <tr>
     <th>Average Robot Age</th>
     <th>Number Hired Each Year</th>
     <th>Number in Each Department</th>
   </tr>
   <tr>
     <td>Eve</td>
     <td>Jackson</td>
     <td>94</td>
   </tr>
</table>

<a class="btn btn-primary" href="/robots" role="button">Robot Inventory</a>
<a class="btn btn-primary" href="/robots/new" role="button">New Robot</a>
