<form action="/robots" method="post">
  <p>Enter a new robot:</p>
  <input type="text" name="robot[name]" placeholder="name"/><br/>
  <textarea name="robot[city]" placeholder="city"></textarea><br/>
  <textarea name="robot[state]" placeholder="state"></textarea><br/>
  <textarea name="robot[birthdate]" placeholder="birthdate"></textarea><br/>
  <textarea name="robot[date_hired]" placeholder="date dired"></textarea><br/>
  <textarea name="robot[department]" placeholder="department"></textarea><br/>
  <input type="submit"/>

</form>
