
<form action="/robots" method="post">
  <h3>Build a new Robot:</h3>
  <p>To build a new robot fill in each item listed below and press "Build It"!</p>
  <p><input type='text' name='robot[name]' placeholder="Name"/></p>
  <p><input type='text' name='robot[city]'placeholder="City"/></p>
  <p><input type='text' name='robot[state]'placeholder="State"/></p>
  <p><input type='text' name='robot[birthdate]'placeholder="Birthdate"/></p>
  <p><input type='text' name='robot[date_hired]'placeholder="Date Hired"/></p>
  <p><input type='text' name='robot[department]'placeholder="Department"/></p>
  <button type="submit" class="btn btn-primary">Build My Bot!</button>
  <button type="submit" class="btn btn-warning">Generate a Bot for Me!</button>
</form>




















  <!-- <form action="/robots" method="post">
  <button type="submit" class="btn btn-warning">Generate a Robot!</button>
  <p>Or Create a New Robot:</p>
  <input type="text" name="robot[name]" placeholder="name"/><br/>
  <textarea name="robot[city]" placeholder="city"></textarea><br/>
  <textarea name="robot[state]" placeholder="state"></textarea><br/>
  <textarea name="robot[birthdate]" placeholder="birthdate"></textarea><br/>
  <textarea name="robot[date_hired]" placeholder="date dired"></textarea><br/>
  <textarea name="robot[department]" placeholder="department"></textarea><br/>
  <button type="submit" class="btn btn-primary">Submit</button>

</form> -->
